exp/ll-sys-yardi-api-with-unit/src/main/mule/sys-yardi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <flow name="sys-yardi-main">
        <http:listener path="/api/*" config-ref="sys-yardi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sys-yardi-config"/>
    </flow>
    <flow name="sys-yardi-console">
        <http:listener path="/console/*" config-ref="sys-yardi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sys-yardi-config"/>
    </flow>    
    <flow name="get:\ApartmentAvailability:sys-yardi-config">
		<set-variable value="#[attributes.queryParams.propertyCode]" doc:name="Set Variable" doc:id="c7454625-5828-40f9-a4a1-1e29489005a1" variableName="propertyCode"/>
		<flow-ref doc:name="main-apartment-availability:\get-apartment-availability" doc:id="1295185f-0a76-45fe-8966-1de5dc4b5bb9" name="main-apartment-availability:\get-apartment-availability" />
    </flow>
    <flow name="post:\Lead:application\json:sys-yardi-config">
		<flow-ref doc:name="main-leads:\post-lead" doc:id="3a538c2e-27cd-4d3c-be56-65a232098a4b" name="main-leads:\post-lead"/>
    </flow>
</mule>
