exp/ll-proc-btr-etl/src/main/mule/implementation/tenantRoommateApplication/roommate-sync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	
	<sub-flow name="get-roommates-from-ftp-sub-flow" doc:id="10093f72-d423-47fb-88a6-188914269ada" >
		<try doc:name="Try" doc:id="1a72bdf5-3f19-443c-8c7d-33e30bf65ecb" >
			<sftp:list doc:name="resRoommate FTP folder files list" doc:id="909e4489-cefb-4746-a90b-05feeecf38aa" config-ref="sftp" directoryPath="${sftp.roommate.directory.path}">
				<sftp:matcher />
			</sftp:list>
		</try>
		<json-logger:logger doc:name="Logger" doc:id="0e2b8898-0f37-4e9b-bd00-a29a9a7c65b4" message='"roommate files from FTP folder"'/>
		<choice doc:name="Choice" doc:id="dae13611-a753-4e99-82cf-8b2408c43801" >
			<when expression="#[sizeOf(payload) &gt; 0]">
				<ee:transform doc:name="sort roommate list of csv files" doc:id="86459c76-fbd5-4f53-a09b-312d1c2bbb8b">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
(payload orderBy $.attributes.timestamp)[-1 to 0] ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<sftp:read doc:name="Read Roommates file" doc:id="08b32d2d-9c6f-44d3-a433-a380d2d7e02e" config-ref="sftp" path="#[p('sftp.roommate.directory.path') ++ '/' ++ payload[0].attributes.fileName]" outputMimeType="text/plain" outputEncoding="UTF-16"/>
				<ee:transform doc:name="Write in csv format" doc:id="ad98c73f-c3bf-406d-b141-16d06d3bd54c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
var csvString = trim((payload as String) replace('ResRoommates') with(''))
---
read(csvString,"application/csv",{"header":true})]]></ee:set-payload>
					</ee:message>
					<ee:variables >
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="csv to json" doc:id="1f62abc8-7d09-4161-a807-020c250c9114">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="roommate_records" ><![CDATA[%dw 2.0
output application/json
---
payload map (item,index) -> {
	Ext_Ref_Roommate_Id: item.Ext_Ref_Roommate_Id,
	Roommate_Email: item.Roommate_Email,
	Roommate_FirstName: item.Roommate_FirstName,
	Roommate_LastName: item.Roommate_LastName,
	Roommate_Salutation : item.Roommate_Salutation,
	Roommate_PhoneNumber4 : item.Roommate_PhoneNumber4	
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<json-logger:logger doc:name="last modified roommate file info" doc:id="e81b3141-2fdd-44a6-bdae-5b8157dafd48" message='#["last modified roommate file details"]'/>
			
</when>
			<otherwise >
				<json-logger:logger doc:name="Roommate Files not found" doc:id="644314a4-1bee-4bd0-8756-558e8913f23b" message='#["File not found from /resroommates folder"]'/>
			</otherwise>
		</choice>
		<flow-ref doc:name="roommate-prospect-merge-and-upsert-contact-and-occupant-sub-flow" doc:id="d7eaeccc-83ec-4371-b67c-7db455fdb4a9" name="roommate-prospect-merge-and-upsert-contact-and-occupant-sub-flow"/>
	

</sub-flow>
	<flow name="roommate-prospect-merge-and-upsert-contact-and-occupant-sub-flow" doc:id="5c4f4a55-20bd-4aa1-9eb9-c0391734813b" >
		<ee:transform doc:name="Merge roommates and prospects" doc:id="7ddb18dc-7ea1-437b-9b0a-f4d59f48b010">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/java

fun formattedDate(dt) = (if(!isEmpty(dt)) (dt as Date{format: 'dd/MM/yyyy'} as Date{format: 'yyyy-MM-dd'}) else null)
var joinedData = outerJoin(vars.roommate_records filter (($.Ext_Ref_Roommate_Id != "" or $.Roommate_Email != "") and ($.Occupant_Type != 2)), vars.prospect_records filter (($.Ext_Ref_Roommate_Id != "" or $.Email != "") and !isEmpty($.Parent_Code)), (obj) -> obj.Ext_Ref_Roommate_Id as String default "", (obj) -> obj.Ext_Ref_Roommate_Id as String default "")
---
joinedData
     reduce ((item, roommate = []) ->
     	if((item.l? and item.r?) or (item.l? and not item.r?))
        	roommate ++ [{
	        		(Id: item.l.Ext_Ref_Roommate_Id) if(!isEmpty(item.l.Ext_Ref_Roommate_Id)),
					FirstName: item.l.Roommate_FirstName,
					(LastName: item.l.Roommate_LastName) if(!isEmpty(item.l.Roommate_LastName)),
					Salutation: item.l.Roommate_Salutation,
					(MailingStreet : (item.r.Address1 as String default "" ++ " " ++ item.r.Address2 as String default "")) if(item.r?),
					(MailingCity : item.r.City) if(item.r?),
					(MailingState : item.r.State) if(item.r?),
					(MailingPostalCode : item.r.Zipcode) if(item.r?),
					(Email : item.l.Roommate_Email) if(!isEmpty(item.l.Roommate_Email)),
					MobilePhone : item.l.Roommate_PhoneNumber4,
					//General:item.l."General_Info_11"
					(BTR_HowLongAtCurrentAddress__c:item.r.HowLong) if(item.r?),
					(Birthdate: formattedDate(item.r.Date_Of_Birth)) if(item.r?),
					(BTR_PreviousAddress__c: (item.r.Previous_Address1 ++ ' '++ item.r.Previous_Address2)) if(item.r?),
					(BTR_PreviousCity__c: item.r.Previous_City) if(item.r?),
					(BTR_PreviousPostalCode__c: item.r.Previous_ZipCode) if(item.r?),
					(BTR_PreviousHowLong__c: item.r.Previous_HowLong) if(item.r?),
					(BTR_Previous2Address__c: (item.r.Previous2_Address1 ++ ' ' ++	item.r.Previous2_Address2)) if(item.r?),
					(BTR_Previous2City__c: item.r.Previous2_City) if(item.r?),
					(BTR_PreviousPostalCode2__c: item.r.Previous2_ZipCode) if(item.r?)	
                }]	
         else
			roommate ++ [{
	        		(Id: item.r.Ext_Ref_Roommate_Id) if(!isEmpty(item.r.Ext_Ref_Roommate_Id)),
					FirstName: item.r.FirstName,
					(LastName: item.r.LastName)  if(!isEmpty(item.r.LastName)),
					Salutation: item.r.Salutation,
					MailingStreet : (item.r.Address1 as String default "" ++ " " ++ item.r.Address2 as String default ""),
					MailingCity : item.r.City,
					MailingState : item.r.State,
					MailingPostalCode : item.r.Zipcode,
					BTR_HowLongAtCurrentAddress__c:item.r.HowLong,
					(Email : item.r.Email) if(!isEmpty(item.r.Email)),
					MobilePhone : item.r.CellPhone,
					Birthdate: formattedDate(item.r.Date_Of_Birth),
					BTR_PreviousAddress__c: (item.r.Previous_Address1 ++ ' '++ item.r.Previous_Address2),
					BTR_PreviousCity__c: item.r.Previous_City,
					BTR_PreviousPostalCode__c: item.r.Previous_ZipCode,
					BTR_PreviousHowLong__c: item.r.Previous_HowLong,
					BTR_Previous2Address__c: (item.r.Previous2_Address1 ++ ' ' ++	item.r.Previous2_Address2),
					BTR_Previous2City__c: item.r.Previous2_City,
					BTR_PreviousPostalCode2__c: item.r.Previous2_ZipCode
                }]	       
    ) ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="After Merge" doc:id="bf1689d4-c18f-4013-832d-a4383deda316" tracePoint="AFTER_TRANSFORM" message='"After Merge roommate and prospect files"'>
			<json-logger:content ><![CDATA[#[output application/json ---
{
 	payload: payload
}]]]></json-logger:content>
		</json-logger:logger>
		<batch:job jobName="roommate-syncBatch_Job" doc:id="c6e64d33-4875-4ac1-8fd1-a709f97d10f7" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="0d3f8e97-29b3-4157-8e6a-0c3b94ef7f14" >
					<ee:transform doc:name="contact record" doc:id="75c4af5c-a396-4521-95c5-1255c21270b7" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/java
---
[
	payload mapObject ((($$): $) if ($ != null)) ++
    	"fieldsToNull": valueSet(payload mapObject (( key: $$ ) if(($ == null) or (isEmpty($))) )  )
]]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<choice doc:name="Choice" doc:id="33985202-bbb4-4fa7-8962-c52ddad403c5" >
						<when expression='#[payload[0].Id == null AND payload[0].Email != ""]' >
							<salesforce:upsert doc:name="Upsert" doc:id="d2c49c2a-7e1f-422d-aad8-4b5408cf1963" config-ref="Salesforce_Config" objectType="Contact" externalIdFieldName="SYS_ExternalPMSEmail__c"/>
							<json-logger:logger doc:name="Upsert Contact Logger" doc:id="51c9be55-05cd-49ae-b0b2-7c15bbd7678d" tracePoint="AFTER_REQUEST" message='"Upsert Contact"'/>
						</when>
						<when expression="#[payload[0].Id != null]" >
							<salesforce:update doc:name="Update" doc:id="89b40305-7f04-460e-a440-4a553d1bdef1" config-ref="Salesforce_Config" type="Contact" />
							<json-logger:logger doc:name="Update Contact Logger" doc:id="fa8bee21-33c3-499c-8b0a-0a8acc67894b" tracePoint="AFTER_REQUEST" message='"Updated Contact "'/>
						</when>
						<otherwise >
							<json-logger:logger doc:name="Logger" doc:id="cce2635c-4407-4eb9-8e93-cdc4bfd0e886" message='"Roommate contact upsert"'/>
						</otherwise>
					</choice>
				</batch:step>
			</batch:process-records>
		</batch:job> 
	
</flow>
</mule>
