exp/ll-sys-yardi-api/src/main/mule/api-sys-yardi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <flow name="sys-yardi-main">
        <http:listener path="/api/*" config-ref="sys-yardi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sys-yardi-config"/>
    </flow>
    <flow name="sys-yardi-console">
        <http:listener path="/console/*" config-ref="sys-yardi-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sys-yardi-config"/>
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\apartment-availability:sys-yardi-config">
		<set-variable value="#[attributes.queryParams.propertyCode]" doc:name="Set Variable" doc:id="934be951-9a62-461f-be5d-5da6a6f7bab0" variableName="propertyCode"/>
		<flow-ref doc:name="main-apartment-availability:\get-apartment-availability-sub-flow" doc:id="52ff0c0f-5e0b-4637-928a-43157b268ee5" name="main-apartment-availability:\get-apartment-availability-sub-flow"/>
		<error-handler ref="sync-error-handler" />
    </flow>
    <flow name="post:\lead:application\json:sys-yardi-config">
		<flow-ref doc:name="main-leads:\post-lead-sub-flow" doc:id="08760f48-0315-471d-b354-75020ef9adc5" name="main-leads:\post-lead-sub-flow"/>
		<error-handler ref="sync-error-handler" />
    </flow>
</mule>
